# Introduction to Data Management
i.e. introduction to `numpy` and `pandas`

Now that we have a handle on the basics of Python 3.x syntax, let's start doing some data manipulation. The two most important packages we will be using are NumPy and Pandas. NumPy contains loads of useful functions and improved storage objects, like matrices (think improved lists) and functions that produce various calculations. Pandas is built on top of NumPy and allows traditional data storage, display, and tools. Like all of our code, we begin with importing the relevant packages

In [2]:
import numpy as np
import pandas as pd

As you may already know, the ``import ... as ...`` functionality allows us to import a package and refer to it as a shorter name. It is common practice to abbreviate `numpy` as `np` and `pandas` as `pd`. In your code, *never* set variables to have these names (unless you really want to give yourself a headache)

## Missing Data
Unlike most python data science intros, I am going to start with missing data. Missing data is a common issue in an epidemiologist's data sets. Simply ignoring missing data and how `numpy` and `pandas` handle missing data is only going to cause later trouble for us. So, how does Python handle missing data?

Since Python was original meant as a computer programming language, missing data is a little awkward. The `math` library allows for missing data with `nan`. More commonly you will use `np.nan`. `nan` has some properties that may be surprising. `nan` will never evaluate to be equal to `nan`. Let's look at an example

In [3]:
np.nan == np.nan

False

Weird... but why does this matter? For any data manipulation operations with missing data in a column, you will need to keep this in mind. Expecting something to be equal to `nan` won't evaluate to be true. Instead, you will need to use special `numpy` or `pandas` functions like `isnan()`. For example,

In [4]:
print(np.isnan(np.nan))
print(pd.isnull(np.nan))

True
True

So remember, **nan is not equal to nan**

The next item to highlight is a `pandas` behavior. When you have a column with `int` data that has missing values, it will be stored as a `float` type. This does not lead to any major issues, but if you *need* a column to be of `int` type, know that there can be no missing data. No matter how hard you try to change the type to `int`, it will remain `float`. If you absolutely need that column to be `int`, then you will need to remove the `nan`'s (or give them some dummy integer value). You will likely never need a column to absolutely have to be `int` though

## Loading Data
This next section details reading in data from outside file formats.

### CSV 
Let's review how to read in CSV files. CSV stands for "comma separated values". I have put a sample CSV file in this tutorial folder labeled `sample_csv.csv`. To load this data file using pandas, we use the `read_csv()` function. Let's look at an example

In [7]:
# If CSV is in the same folder as your Python program
df = pd.read_csv('sample_csv.csv')
df.info()

# Explicit path to file
# df = pd.read_csv('C:/file/path/to/sample_csv.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
A         100000 non-null int64
L         100000 non-null float64
B_true    100000 non-null int64
C_true    100000 non-null int64
M2        100000 non-null int64
M3        100000 non-null int64
B         87168 non-null float64
C         27432 non-null float64
id        100000 non-null int64
dtypes: float64(3), int64(6)
memory usage: 6.9 MB

`read_csv()` has lots of options to help with reading in your data. You can set the column names, skip certain rows/columns, and much more. I recommend reviewing the `pandas` documentation for further details (*hint* try searching for "pandas read_csv" in your search engine of choice)

### DAT
`.dat` files are a more universal format you may run in to. They have a wider option of what are referred to as delimiters. Delimiters mark where a particular cell/column ends. Another common delimiter is tabs (known as tab-delimited files). I have another file of example data labelled as `sample_tab.dat`. Let's read that in that data.

We will use a few different options. Our input data does not have an index, so we set `index_col=False`. Additionally, our data set does not have column labels, so we set `header=None` to prevent our first line of data from becoming the column labels. We can manually create those by passing in the `names` option. We set `names` to be equal to our list of column labels.

In [11]:
cols = ['id', 'enter', 'out', 'male', 'age0', 'cd40', 'dvl0', 'cd4', 'dvl', 'art', 'drop', 'dead']

# tab-delimited DAT file
df = pd.read_csv('sample_dat.dat', delim_whitespace=True, header=None, names=cols, index_col=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27382 entries, 0 to 27381
Data columns (total 12 columns):
id       27382 non-null int64
enter    27382 non-null int64
out      27382 non-null float64
male     27382 non-null int64
age0     27382 non-null int64
cd40     27382 non-null int64
dvl0     27382 non-null int64
cd4      27382 non-null int64
dvl      27382 non-null int64
art      27382 non-null int64
drop     27382 non-null int64
dead     27382 non-null int64
dtypes: float64(1), int64(11)
memory usage: 2.5 MB

So, `read_csv()` is much more than only CSV files. 

### SAS7BDAT
Since I sometimes have to load in SAS data files, let's go through an example

In [15]:
df = pd.read_sas('sample_sas.sas7bdat')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 8 columns):
id      547 non-null float64
male    547 non-null float64
age0    547 non-null float64
cd40    547 non-null float64
dvl0    547 non-null float64
art     547 non-null float64
dead    517 non-null float64
t       547 non-null float64
dtypes: float64(8)
memory usage: 34.3 KB

We will use the SAS file for the remainder of the data management tutorial

### Other File Formats
Python supports a wide variety of formats. I have only reviewed popular formats here. If you are having trouble reading in a specific file format that I have not described, I recommend searching the `pandas` documents for help. 

## Basic Data Set Info
Now that our data set is loaded, let's take a look at some basic features. Once our `pandas` `DataFrame` is loaded, it gains a few functions. 

The first is `info()` which provides the observation count and variable types. `info()` always prints to the console, so it does not need to be wrapped in a print statement.

Next is `head(5)` which will print out the first five observations. We can change the number of observations printed by changing the number

Next is `tail(3)` which will print out the last three observations. Similarly, we can change the number to change how many observations are printed

Last is `describe()` which provides summary stats for each column in the data frame with numeric data. This is a great way to get a general idea of distributions of variables in your data.

In [17]:
# Basic meta-data summary
df.info()

# print the first 6 observations
print('First observations:\n', df.head(6))

# print the last 5 observations
print('Last observations:\n', df.tail(5))

# print basic descriptives of numeric columns
print('Basic Descriptives:\n', df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 8 columns):
id      547 non-null float64
male    547 non-null float64
age0    547 non-null float64
cd40    547 non-null float64
dvl0    547 non-null float64
art     547 non-null float64
dead    517 non-null float64
t       547 non-null float64
dtypes: float64(8)
memory usage: 34.3 KB
First observations:
     id  male  age0   cd40  dvl0  art  dead       t
0  2.0   1.0  51.0  440.0   1.0  0.0   1.0  32.043
1  3.0   1.0  21.0  219.0   0.0  0.0   0.0  60.000
2  5.0   1.0  18.0  460.0   0.0  0.0   0.0  60.000
3  6.0   1.0  34.0  470.0   1.0  0.0   0.0  60.000
4  7.0   1.0  29.0  361.0   0.0  0.0   0.0  60.000
5  8.0   1.0  45.0    4.0   1.0  0.0   0.0  60.000
Last observations:
         id  male  age0   cd40  dvl0  art  dead     t
542  795.0   0.0  20.0  494.0   1.0  0.0   0.0  60.0
543  796.0   1.0  33.0  458.0   1.0  0.0   0.0  60.0
544  798.0   1.0  32.0  237.0   1.0  0.0   0.0  60.0
545  799.0   1.0  44.0  488.0   1.0  0.0   0.0  60.0
546  800.0   0.0  40.0  209.0   0.0  0.0   0.0  60.0
Basic Descriptives:
                id        male        age0        cd40        dvl0         art  \
count  547.000000  547.000000  547.000000  547.000000  547.000000  547.000000
mean   400.054845    0.815356   38.519196  303.301645    0.890311    0.144424
std    234.087576    0.388363    9.642183  134.033586    0.312788    0.351841
min      2.000000    0.000000   18.000000    1.000000    0.000000    0.000000
25%    188.000000    1.000000   32.000000  220.500000    1.000000    0.000000
50%    402.000000    1.000000   39.000000  326.000000    1.000000    0.000000
75%    605.500000    1.000000   46.000000  415.500000    1.000000    0.000000
max    800.000000    1.000000   63.000000  500.000000    1.000000    1.000000

             dead           t
count  517.000000  547.000000
mean     0.168279   49.934563
std      0.374476   19.521671
min      0.000000    0.055000
25%      0.000000   57.104000
50%      0.000000   60.000000
75%      0.000000   60.000000
max      1.000000   60.000000

You can also access the list of all the columns in your data set by `print(df.columns())`. I will leave this for you to try on your own.

## Selecting / Subsetting Data
Now that we have the basic set up of our data frame, let's go over how to select columns and rows

### Column Selection
For various purposes, we might only want to select a single column. To index a column, you use the following code `df['column_label']` where `column_label` refers to your column label. For our example, we only want to look at the first 3 observations of the `art` column. To do that we can use the following

In [18]:
print(df['art'].head(3))

0    0.0
1    0.0
2    0.0
Name: art, dtype: float64

There is an alternative to selecting columns and that is to use `df.column_label`. Beware of this option. It is less clear, your column name might overlap with a `pandas` function, it cannot handle multiple columns, and it cannot handle spaces (if they exist in your column labels). I would recommend using `df['column_label']`. I mention the other option since you might come across it in the wild (I sometime use it despite my own advice)

To select multiple columns, we can instead provide a list of columns. Below is an example

In [20]:
# Multiple column selection in one-line
print(df[['art', 'dead']].tail(5))

# Multiple column selection emphasizing the use of a list of column names
columns_to_select = ['art', 'dead']
print(df[columns_to_select].tail(2))

     art  dead
542  0.0   0.0
543  0.0   0.0
544  0.0   0.0
545  0.0   0.0
546  0.0   0.0
     art  dead
545  0.0   0.0
546  0.0   0.0

Now that we have some column selection basics, let's detail three specific `pandas` operations before moving on; `unique()`, `value_counts()`, and `crosstab`. 

`unique()` returns all the unique values contained in a column. 

`value_counts()` is an extension of unique that provides the unique values in a column but also their frequency

`crosstab()` creates a crosstabulation of two or more columns

In [23]:
# All unique values in a column
print('Unique values:', df['art'].unique())

# Unique values and their frequency in a column
print('\nCounts of unique values:\n', df['art'].value_counts())

# Crosstabulation of two variables
print('\nN-by-M table:\n', pd.crosstab(df['art'], df['dead']))

Unique values: [0. 1.]

Counts of unique values:
 0.0    468
1.0     79
Name: art, dtype: int64

N-by-M table:
 dead  0.0  1.0
art
0.0   363   77
1.0    67   10

That concludes the basics of column selection / subsetting from a data set

### Row Selection
Now let's go over the basics of row selection. Let's start by selection all the rows in the data set where ART is given (`art=1`)

In [24]:
print(df.loc[df['art']==1])

        id  male  age0   cd40  dvl0  art  dead       t
15    28.0   0.0  49.0  226.0   1.0  1.0   0.0  60.000
16    29.0   0.0  47.0  332.0   1.0  1.0   0.0  60.000
19    32.0   1.0  49.0  413.0   1.0  1.0   0.0  60.000
25    39.0   1.0  36.0  424.0   1.0  1.0   0.0  60.000
29    45.0   1.0  39.0  274.0   1.0  1.0   0.0  60.000
35    52.0   1.0  44.0  309.0   0.0  1.0   0.0  60.000
36    54.0   1.0  48.0  192.0   1.0  1.0   0.0  60.000
46    70.0   1.0  39.0  126.0   1.0  1.0   0.0  60.000
82   114.0   1.0  40.0  123.0   1.0  1.0   0.0  60.000
86   119.0   1.0  41.0  391.0   1.0  1.0   0.0  60.000
93   127.0   1.0  37.0  408.0   1.0  1.0   0.0  60.000
98   134.0   0.0  41.0  345.0   1.0  1.0   0.0  60.000
111  155.0   1.0  44.0  139.0   1.0  1.0   0.0  60.000
113  158.0   1.0  29.0  216.0   1.0  1.0   0.0  60.000
130  180.0   1.0  62.0  204.0   1.0  1.0   0.0  60.000
136  187.0   1.0  40.0   90.0   1.0  1.0   1.0   0.094
137  189.0   1.0  54.0  301.0   1.0  1.0   0.0  60.000
141  197.0   1.0  19.0  224.0   1.0  1.0   0.0  60.000
143  201.0   1.0  50.0  381.0   0.0  1.0   0.0  60.000
148  211.0   1.0  43.0   47.0   1.0  1.0   0.0  60.000
150  214.0   1.0  32.0  215.0   0.0  1.0   1.0   0.974
158  228.0   1.0  50.0   83.0   1.0  1.0   1.0   4.491
160  231.0   1.0  40.0  128.0   1.0  1.0   0.0  60.000
161  232.0   1.0  52.0  462.0   1.0  1.0   0.0  60.000
167  240.0   1.0  47.0  352.0   1.0  1.0   NaN  12.734
170  243.0   1.0  38.0  192.0   1.0  1.0   0.0  60.000
175  249.0   0.0  51.0  421.0   1.0  1.0   0.0  60.000
178  253.0   1.0  36.0  278.0   1.0  1.0   0.0  60.000
187  269.0   0.0  45.0  417.0   1.0  1.0   1.0   1.389
190  275.0   1.0  18.0  352.0   1.0  1.0   0.0  60.000
..     ...   ...   ...    ...   ...  ...   ...     ...
299  442.0   1.0  44.0  213.0   1.0  1.0   0.0  60.000
317  471.0   1.0  35.0  156.0   0.0  1.0   0.0  51.769
328  487.0   1.0  34.0   20.0   0.0  1.0   1.0   1.977
339  504.0   1.0  48.0  236.0   0.0  1.0   0.0  60.000
354  522.0   1.0  40.0  458.0   1.0  1.0   0.0  60.000
355  524.0   1.0  32.0  152.0   1.0  1.0   0.0  60.000
366  542.0   1.0  32.0  229.0   0.0  1.0   0.0  46.851
377  562.0   1.0  42.0  461.0   1.0  1.0   0.0  60.000
399  592.0   1.0  23.0  480.0   1.0  1.0   0.0  60.000
404  598.0   0.0  35.0  430.0   1.0  1.0   0.0  60.000
406  600.0   1.0  45.0  387.0   1.0  1.0   0.0  60.000
418  618.0   1.0  40.0  309.0   1.0  1.0   0.0  60.000
429  633.0   0.0  29.0  308.0   1.0  1.0   0.0  60.000
443  650.0   0.0  29.0  115.0   1.0  1.0   0.0  60.000
449  658.0   0.0  23.0  441.0   1.0  1.0   0.0  60.000
454  666.0   1.0  48.0  123.0   0.0  1.0   0.0  60.000
464  680.0   0.0  35.0  211.0   0.0  1.0   0.0  60.000
468  685.0   0.0  36.0  237.0   1.0  1.0   0.0  60.000
469  687.0   0.0  53.0  273.0   1.0  1.0   0.0  60.000
474  695.0   1.0  29.0    2.0   1.0  1.0   1.0   2.646
481  707.0   1.0  25.0  483.0   1.0  1.0   0.0  60.000
483  709.0   1.0  43.0   37.0   1.0  1.0   1.0   4.490
490  719.0   1.0  41.0  119.0   1.0  1.0   0.0  60.000
498  730.0   1.0  18.0  248.0   1.0  1.0   1.0  10.654
499  732.0   0.0  22.0  465.0   1.0  1.0   0.0  60.000
524  768.0   1.0  31.0  321.0   1.0  1.0   0.0  60.000
527  771.0   1.0  45.0   35.0   1.0  1.0   0.0  60.000
529  774.0   1.0  59.0  460.0   1.0  1.0   0.0  60.000
534  780.0   1.0  51.0  264.0   1.0  1.0   1.0   1.827
541  792.0   1.0  25.0  282.0   1.0  1.0   0.0  60.000

[79 rows x 8 columns]

So how did that work? There are two moving parts. First is the part inside the `.loc[...]` function. This section checks whether the condition is met for each row in that column. Pulling out that part results in

In [25]:
df['art']==1

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15      True
16      True
17     False
18     False
19      True
20     False
21     False
22     False
23     False
24     False
25      True
26     False
27     False
28     False
29      True
       ...
517    False
518    False
519    False
520    False
521    False
522    False
523    False
524     True
525    False
526    False
527     True
528    False
529     True
530    False
531    False
532    False
533    False
534     True
535    False
536    False
537    False
538    False
539    False
540    False
541     True
542    False
543    False
544    False
545    False
546    False
Name: art, Length: 547, dtype: bool

A Series of `True` and `False` where the conditions are met or not met, respectively. Then our `.loc` function takes this series of True and False and subsets only the rows where True occurs. 

Let's take a look at selecting columns based on two conditions. We will select only those who received ART and are above age 48

In [29]:
print(df.loc[(df['art'] == 1) & (df['age0'] > 48)])

        id  male  age0   cd40  dvl0  art  dead       t
15    28.0   0.0  49.0  226.0   1.0  1.0   0.0  60.000
19    32.0   1.0  49.0  413.0   1.0  1.0   0.0  60.000
130  180.0   1.0  62.0  204.0   1.0  1.0   0.0  60.000
137  189.0   1.0  54.0  301.0   1.0  1.0   0.0  60.000
143  201.0   1.0  50.0  381.0   0.0  1.0   0.0  60.000
158  228.0   1.0  50.0   83.0   1.0  1.0   1.0   4.491
161  232.0   1.0  52.0  462.0   1.0  1.0   0.0  60.000
175  249.0   0.0  51.0  421.0   1.0  1.0   0.0  60.000
191  276.0   1.0  57.0  326.0   1.0  1.0   0.0  60.000
199  284.0   1.0  49.0  131.0   1.0  1.0   0.0  60.000
238  346.0   1.0  51.0  338.0   1.0  1.0   0.0  60.000
241  353.0   1.0  51.0   68.0   1.0  1.0   0.0  60.000
469  687.0   0.0  53.0  273.0   1.0  1.0   0.0  60.000
529  774.0   1.0  59.0  460.0   1.0  1.0   0.0  60.000
534  780.0   1.0  51.0  264.0   1.0  1.0   1.0   1.827

Note that the inside of the `.loc[...]` follows the standard order of operations. To link multiple conditions together `&` means "and", `|` means "inclusive or", and `^` is the "exclusive or". As a reminder the inclusive or requires that at least one is True, while exclusive or requires that only one is True. 

Finally, note the parenthenses. If each individual evaluation is not wrapped in a parenthesis, then the conditional will not evaluate. Without the parentheses you will get a `ValueError`

#### Side Note:
While you may be tempted to use `and` and `or` instead, these operators don't deal with NumPy and Pandas too well. It is better to use `&` and `|`.

### Column and Row Selection
We now can merge our column and row selection together. To motivate our problem, we are interested in looking at the CD4 T-cell counts by treatment status. Let's look at how we can do this.

In [31]:
print(df.loc[df['art'] == 1, 'cd40'])

15     226.0
16     332.0
19     413.0
25     424.0
29     274.0
35     309.0
36     192.0
46     126.0
82     123.0
86     391.0
93     408.0
98     345.0
111    139.0
113    216.0
130    204.0
136     90.0
137    301.0
141    224.0
143    381.0
148     47.0
150    215.0
158     83.0
160    128.0
161    462.0
167    352.0
170    192.0
175    421.0
178    278.0
187    417.0
190    352.0
       ...
299    213.0
317    156.0
328     20.0
339    236.0
354    458.0
355    152.0
366    229.0
377    461.0
399    480.0
404    430.0
406    387.0
418    309.0
429    308.0
443    115.0
449    441.0
454    123.0
464    211.0
468    237.0
469    273.0
474      2.0
481    483.0
483     37.0
490    119.0
498    248.0
499    465.0
524    321.0
527     35.0
529    460.0
534    264.0
541    282.0
Name: cd40, Length: 79, dtype: float64

As this example shows, you can use `.loc` to access both selected rows and columns, where the conditions are set up as follows `df.loc[row, column]`. 

As a demonstration, let's calculate the mean baseline CD4 T-cell count among those given ART with what we have learned and the NumPy function `mean()`. When I subset the data in this example, I will use the `copy()` function at the end. This will return a copy of the subset data. This is good practice to prevent accidentally overwritting something in your original data. Pandas will also generate a warning if you do not create a copy

In [32]:
# Subsetting rows and the column of interest
dfs = df.loc[df['art'] == 1, 'cd40'].copy()

# calculating mean with numpy
print(np.mean(dfs))

# calculating mean with pandas
print(dfs.mean())

247.13924050632912
247.13924050632912

In the above, I calculated the mean using two different approaches. One used `np.mean()` and the other used `pd.mean()`. These provide the same results (as would be expected). Often there are multiple ways to do things in Python. This is one example.

Test yourself by trying to calculate the mean CD4 T-cell count among those not given ART.

## Data Operations
Now that we have the basics of row and column selection, it is time to introduce some data manipulation. Let's start changing the values of variables.

In [35]:
# Create a new column that is a copy of another variable
df['art_copy'] = df['art']

# Adding constant to a column
df['cd4_plus5'] = df['cd40'] + 5

# Dividing by constant from a column
df['cd4_div12'] = df['cd40'] / 12

# Squaring a column
df['age_sq'] = df['age0']**2

# Using numpy to get square root of column
df['age_sqrt'] = np.sqrt(df['age0'])

# Adding two columns together
df['age_plus_cd4'] = df['age0'] + df['cd40']

# Multiple operations
df['weird_age'] = (df['age0']*0.5)**2 + (df['cd40']/1000)

These are just a few basic examples of operations. Note that these are applied to each row. What if we want to only perform operations on select rows?

### Recoding
For the purposes of the tutorial, let's say we were concerned about outliers in age. To remove the outliers, we wanted to set everyone older than 50 to 50. How can we do that? I will go through two different approaches

#### np.where
NumPy `where` is a special function that evaluates a conditional statement for us. Additionally we can use it to generate new numbers. In `np.where(a, b, c)`, `a` is the condition we want to evaluate, `b` is the value given when the condition is True, and `c` is the value when the condition is False.

Going to our example, we can to find all those older than 50 (`df['age0'] > 50`) and set them equal to 50 (`50`). Otherwise, we want that row to retain its observed value (`df['age0']`).

In [37]:
# using np.where
df['age2_numpy'] = np.where(df['age0'] > 50,  # condition
                           50,  # when condition is True
                           df['age0'])  # when condition if False

print(np.max(df['age2_numpy']))

50.0

As you can see, the new maximum age is 50, just as our recoding wants. 

#### df.loc
An alternative is to use our friend `loc[...]` to help us out. Using the column selector, we can create a new column and update values. Below is an example

In [40]:
df.loc[df['age0'] > 50, 'age2_pandas'] = 50
df.loc[df['age0'] <= 50, 'age2_pandas'] = df['age0']

print(np.max(df['age2_pandas']))

50.0

These two approaches give the same results. Personally, I like `np.where` but use whatever you prefer. 

For practice, try making a new age variable where age is squared when between 25 to 45. Otherwise it should be equal to age. You will need what you learned in this section and the row/column selection section to do this. If you have trouble, try going back through the tutorials or open an Issue on my GitHub page

## Saving Data
Now that you have done all that work, let's save the data. Python does not automatically save your data. You will need to save it as a new file (or overwrite your old one. do **not** recommend this though). To do that, we can use the handy pandas function `to_csv`. This function will have our DataFrame as a CSV. 

I set `index=False` to keep pandas from saving the index data to the CSV. I don't usually need it, but if you want to save the index, remove this optional argument

In [ ]:
df.to_csv('saved_file.csv', index=False)

## Aside
Before concluding the tutorial, I wanted to return to missing data one more time. Now I will touch on a few unexpected behaviors that `np.nan` has

`pd.crosstab` has what I think is an unusual behavior. If you look at the online documentation, you will see that it has the optional argument `dropna`. "Awesome!" you think, "I will be able to easily see the missing data patterns in my data set". Let's return to our previous crosstab usage, but set `dropna=False`

In [42]:
print(pd.crosstab(df['art'], df['dead'], dropna=False))

dead  0.0  1.0
art
0.0   363   77
1.0    67   10

That's weird... there is no missing data column. That's is because the `dropna` argument does not do what you are imagining it does. To see any missing data patterns, we can use `crosstab` but we have to pair it with something. I will use ``fillna()`` to fill in all the missing data points with `-99999`. When using this function to look at missing data patterns, make sure to a value that is not in your data!

In [43]:
df.fillna(-99999, inplace=True)
print(pd.crosstab(df['art'], df['dead']))

dead  -99999.0   0.0       1.0
art
0.0         28       363        77
1.0          2        67        10

Now we can see the missing data pattern! It is generally easier to create a new dataframe with the `nan` filled in rather than using the `inplace` argument as I did. `inplace` means that I would need to use one of the data manipulation approaches to set `-99999` cells back to `nan`. However, this concludes our tutorial

# Conclusion
That concludes the basic tutorial of data manipulations with NumPy and Pandas. There is a lot I did not cover (handling datetimes, converting between long and wide data sets, mergining data sets, etc.). I will leave those for you to explore. The online documentation for Pandas is pretty great and StackOverflow has the answer to just about any Pandas question you could have. 

To really learn Pandas, I would recommend replicating some data cleaning you have previously done. I taught myself Pandas by replicating class assignments that I had original done in SAS. This approach allows you to check your answer with a correct one and it teaches you the overlap between functionalities in different softwares. It was about 3 months of doing data manipulation in Python (specifically with NumPy and pandas) that I became adept at it. Practice makes perfect